<template>
  <div class="header-account">
    <div v-if="account" @click="showLoginPrompt = true" class="btn-account not-active" :title="account">
      <img src="images/ios-contact-outline.svg" alt="">
      <span>{{ acct }}</span>
    </div>
    <div v-else @click="login" class="btn-account">
      <img class="lo-icn" src="images/log-in.svg">
      <span>Login</span>      
    </div><br/>
    <div class="btn-account" @click="openModal" v-if="!account">
      <span>Preferences</span>
    </div>
    

    <Modal class="login-prompt" v-if="showModal" @close="showModal = false">
      <i slot="icon" />
      <div class="modal-header" slot="header">
        <h4><strong>Liame</strong> would like to contact you by…</h4>
      </div>
      <div slot="body">
        <div class="opts">
          <input type="checkbox" id="quarterly" checked="checked" value="quarterly" v-model="checkedVals" />
          <label for="quarterly">Quarterly trivia updates</label><br/>
          <input type="checkbox" id="urgent" checked="checked" value="urgent" v-model="checkedVals" />
          <label for="urgent">Urgent trivia updates</label><br/>
          <div class="btns">
            <button class="answer-save answer" @click="savePref">Save</button>
            <button class="answer-ignore answer" @click="ignorePref">Ignore</button>
          </div>
        </div>
      </div>
      <div slot="footer" />
    </Modal>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import Modal from './Modal.vue'
import LiamPermissions from '../../embarkArtifacts/contracts/LiamPermissions';
import UserPrefs from '../../embarkArtifacts/contracts/UserPrefs';

export default {
  name: 'Account',

  components: {
    Modal
  },

  data() {
    return {
       checkedVals: ["urgent", "quarterly"]
      // showLoginPrompt: false
    }
  },

  computed: {
    ...mapGetters(['hasProvider', 'account', 'showModal', 'categories']),
    acct() {
      const half = 5
      const str = this.account
      return str ? `${str.substring(0, half)}…${str.slice(-half)}` : null
    },
    acctLrg() {
      const half = 10
      const str = this.account
      return str ? `${str.substring(0, half)}…${str.slice(-half)}` : null
    }    
  },

  methods: {
    ...mapActions([
      'init',
      'login',
      'logout',
      'getUserInfo',
      'getPublicAddress',
      'updateState',
    ]),
    ...mapActions(['checkAccount']),
    trySetAccount() {
      this.checkAccount()
      this.getUserInfo()
      setTimeout(() => {
        if (!this.account) return
        console.log('No Torus account, trying again')
        this.trySetAccount()
      }, 1000)
    },
    async signInWithGoogle() {
      await this.login()
      hasZeroes = false;
      this.categories.forEach(async element => {
        let permissionResult = await UserPrefs.methods
          .checkAccess(element, LiamPermissions.address)
          .call();
        if (permissionResult == 0) {
          hasZeroes = true;
        }
      });
      if (hasZeroes) {
        this.updateState({ key: 'showModal', value: true});
      }
      // TODO: show modal here
    },
    savePref() {
      console.log("save this");
      this.updateState({ key: 'showModal', value: false});
      console.log('checkedVals', this.checkedVals);
      this.categories.forEach(async el => {
        let storeVal = this.checkedVals.includes(el) ? 1 : 2;
        await UserPrefs.methods.setAccess(storeVal, el, LiamPermissions.address).send();
      });
    },
    ignorePref() {
      console.log("ignore this");
      // this.updateState('showModal', false);
      this.updateState({ key: 'showModal', value: false});
      console.log('checkedVals', this.checkedVals);
    },    
    openModal() {
      this.updateState({ key: 'showModal', value: true});
    }
  },

  mounted() {
    // immediately check if we came back
    // this.checkAccount()
    // this.init()
  }
}
</script>

<style lang="scss" scoped>
@import '../scss/variables';
@import '../scss/mq';

.header-account {
  display: flex;
}

.btn-account {
  background: $white;
  border: 2px solid $color1;
  border-radius: 40px;
  cursor: pointer;
  display: flex;
  margin: auto;
  padding: 1px;

  img {
    height: 28px;
    width: 28px;
  }

  span {
    margin: auto 10px auto 5px;
  }

  .lo-icn {
    margin: 3px;
    height: 22px;
    width: 22px;
  }
}

.btn-social {
  border: 2px solid #4285f4;
  border-radius: 40px;
  display: flex;
  margin: auto;
  padding: 9px 12px 7px;
  outline: 0;

  span {
    font-size: 12pt;
    margin: 0 10px;
  }
}

.login-prompt {
  .modal-icon i {
    display: none;
  }

  .modal-header {
    padding: 0;

    h4 {
      margin: 0;
      font-size: 18pt;
      font-weight: 100;
    }
  }
}

.connection-list {
  small {
    display: block;
    font-size: 11pt;
    margin: 40px auto 10px;
    text-align: center;
  }
}

.account-item,
.btn-logout,
.btn-primary {
  display: flex;
  border-radius: 40px;

  img {
    height: 28px;
    width: 28px;
  }

  span {
    display: flex;
    font-size: 12pt;
    margin: auto 10px;
  }
}

.account-item {
  border: 2px solid $color1;

  img {
    height: 40px;
    width: 40px;
  }

  span {
    font-weight: bold;
  }
}

.btn-primary,
.btn-logout {
  background: $lightgrey;
  border: 2px solid $lightgrey;
  color: $black;
  display: flex;
  outline: 0;
  padding: 7px 8px 7px;
  margin: 40px auto 10px;
  width: 150px;

  span {
    margin: auto;
  }
}

.btn-primary {
  background: $color3;
  border: 2px solid $color3;
  padding: 10px 8px;
}

.opts input {
  transform : scale(1.2);
}
label {
  font-size: 19px;
}
.btns {
  margin-top: 19px
}
.btns .answer {
  display: inline-block;
  font-size: 19px;
  background-color: #3d286b;
  color: #fff;
  border-radius: 10px;
  padding: 10px;  
}

.btns .answer-ignore {
  background-color: #fc5090;
}
</style>
