<template>
  <div class="container">
    <!-- <input type="text" v-model="msg" /> -->
    <h1 class="rainbow-text">⛓️ Our dApp landing page ⛓️</h1>
    <div class="copy">
      <p><strong>Did you know?</strong></p>
      <p><em>Bufficorn bufficorn bufficorn bufficorn bufficorn bufficorn bufficorn bufficorn</em></p>
      <p>is a perfectly valid english sentence?</p>
      <hr/>
      <p>This dApp has even more useful information like this.</p>
      <p>We'd like to contact you for updates, but respect your preferences.</p>
      <hr/>
      <!-- <p>We have:</p>
      <ul>
        <li><p>Quarterly, fun updates</p></li>
        <li><p><strong>Urgent</strong>, critical trivia updates</p></li>
      </ul> -->

      <Liame />
    </div>
  </div>
</template>

<script>
import Liame from './Liame.vue'

export default {
  name: 'dApp',

  data () {
    return {
      msg: 'Our dApp that wants to contact you, but not bother you'
    }
  },

  components: {
    Liame,
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
p {
  color: #3c246b;
  font-size: 19px;
}
.rainbow-text {
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.container {
  margin: 0 auto;
  border: 3px dashed orange;
  padding: 19px;
  background-color: #fc5090;
}

.container .copy {
  background-color: #fff;
  opacity: .8;
  padding: 7px;
  border-radius: 5px;
}

#app {
  background-color: #efefef;
}

.copy ul {
    list-style-type: square;
}

.copy ul li {
  display: block;
}
</style>
