<template>
  <div class="liame">
    <div class="liame-user-pref">
      <h3>Test Dapp Preferences</h3>
      <div class="liame-user-cat">
        <label for="usrPrefCat">{{usrPrefCatLabel}}</label>
        <input id="usrPrefCat" v-model="userPrefContractCategory" />
      </div>
      <div class="liame-test">
        <button class="btn-rainbow" v-on:click="onTestUserPref">Test UserPrefs</button>
      </div>
      <div class="liam-usr-result">
        <label>{{usrPrefResultLabel}} {{usrPrefResult}}</label>
      </div>
    </div>
  </div>
</template>

<script>
import Header from './Header.vue'
import LiamPermissions from '../../embarkArtifacts/contracts/LiamPermissions';
import UserPrefs from '../../embarkArtifacts/contracts/UserPrefs';
import axios from 'axios';
export default {
  name: 'Liame',
  data () {
    return {

      userPrefContractAddress: "",
      userPrefContractCategory: "spam",
      usrPrefAddLabel: "Enter UserPref Contract Address: ",
      usrPrefCatLabel: "Enter category to search",
      usrPrefResult: "",
      usrPrefResultLabel: "Permission Result: "
    }
  },
  methods: {
    async onTestUserPref() {
      // Must have a wallet address
      let targetWalletAddress = LiamPermissions.address;
      // let targetWalletAddress = this.$store.state.account;
      // if(!targetWalletAddress || targetWalletAddress.length === 0) {
      //   alert("No wallet address loaded in Torus");
      //   return;
      // }

      /* if(!this.userPrefContractAddress || this.userPrefContractAddress.length === 0) {
        alert("A contract address is required");
        return;
      } */

      // Must have a category
      if(!this.userPrefContractCategory || this.userPrefContractCategory.length === 0) {
        alert("Please choose a category");
        return;
      }

      /* let ret = await LiamPermissions.methods.readPermissions(
        this.userPrefContractAddress,
        targetWalletAddress,
        "urgent").call(); */

      // Get the permission status from UserPrefs contract given a wallet address and category
      let permissionResult = await UserPrefs.methods
        .checkAccess(`${this.userPrefContractCategory}`, targetWalletAddress)
        .call();

        this.usrPrefResult = permissionResult;
      console.log("Result checking UserPrefs contract `readPermissions`: ", typeof permissionResult);
      if (permissionResult !== '1') return;

      // Get the access result from UserPrefs contract given a wallet address and category
      let accessResult = await UserPrefs.methods
        .getAccess(this.userPrefContractCategory, targetWalletAddress)
        .call();
      console.log('accessResult', accessResult)

      this.triggerEmail(permissionResult, accessResult, targetWalletAddress);
    },
    triggerEmail(permissionResult, accessResult, targetWalletAddress) {
      let jsonBody = {
        to: `${accessResult}@liame.app`,  // access
        from: `${LiamPermissions.address}@liame.app`,
        prefsAddress: UserPrefs.address, // UserPrefs contract address
        category: this.userPrefContractCategory,
        subject: "New Message Awaits You!",
        text: `Success! Sent from Liame Test Dapp, with category: ${this.userPrefContractCategory}`,
        html: `<h1>Success!</h1><br /><br /><h3>Sent from Liame Test Dapp, with category: ${this.userPrefContractCategory}</h3>`
      };

      console.log("Client email payload: " + jsonBody);

      axios.post(
        'http://localhost:3000/trigger/email',
        jsonBody)
      .then(function (response) {
        console.log(response.data);
      })
      .catch(function (error) {
        console.log(response.data);
      });
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.liame-version {
  margin-left: 1.5em;
}
.liame-user-pref {
  margin: 2em 0 0 3em;
}
.liam-usr-result {
  margin: 2em 0 0 0;
}
.liame-user-cat label {
  font-size: 1.4rem;
}
.liame-user-cat input {
  font-size: 1rem;
}
.liame-user-cat input {
  width: 20em;
  height: 2em;
  margin-left: 2em;
}
.liame-test {
  margin: 1em 0 0 0;
}
.liame-test button {
  height: 3em;
  width: 10em;
  background: #0364ff;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  font-weight: 600;
}

#usrPrefAdd {
  width: 30em;
}

.btn-rainbow {
  background: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  border-radius: 10px 3px 50px 4px;
  padding: 15px 20px;
  font-size: 14pt;
  font-family: fantasy;
}
</style>
